<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Hello World!!!</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1>Hello World..!!</h1>
    <h2>My List</h2>

    <!-- using tags, django template language tags -> DTL Tags -->
    <ul>
        {% for item in items %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>

    <table>
        <thead>
            <tr>
                {% for item in header %}
                <th>{{item}}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for row in rows %}
            <tr>
                {% for item in row %}
                <td>{{item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>