<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Hello World!!!</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1>First App Students</h1>
    <h2>Student List</h2>

    <!-- using tags, django template language tags -> DTL Tags -->
    <ul>
        {% for item in items %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Height</th>
                <th>BloodGroup</th>
            </tr>
        </thead>

        <tbody>
            {% for record in items %}
            <tr>
                <td>{{record.name}}</td>
                <td>{{record.age}}</td>
                <td>{{record.height}}</td>
                <td>{{record.bloodGroup}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>