{% extends "index.html" %}


{% block content %}


<div class="form-container">
  <form class="form-box"
        action="{% url 'add_post' %}"
        method="post">
    {% csrf_token %}

    <span style="color: red;">{{error}}</span> <br>

    <label class="form-control-label"
           for="message">Post Message</label> <br>
    <textarea class="form-control"
              name="message"
              id="message"
              rows="4"
              cols="30"
              maxlength="255">{{message}}</textarea> <br>

    <input class="form-control-button"
           type="submit"
           value="submit"> <br>
  </form>
</div>

{% endblock content %}