{% extends "index.html" %}

{% block content %}
<div class="container border vh-100 d-flex justify-content-center align-items-center">
    <div class="card p-3 shadow">
        <form action="#"
              method="POST">
            {% csrf_token %}
            <div class="mb-2">
                <label class="form-label"
                       for="username">UserName: </label>
                <input class="form-control"
                       type="text"
                       id="username"
                       name="username"> <br>
            </div>

            <div class="mb-2">
                <label class="form-label"
                       for="password">Password: </label>
                <input class="form-control"
                       type="password"
                       id="password"
                       name="password"> <br>
            </div>

            <div class="d-grid">
                <input type="submit"
                       value="login"
                       class="btn btn-success">
            </div>
            <div>
                {% if messages %}
                <ul class="messages list-group">
                    {% for message in messages %}
                    <li {% if message.tags %}
                        class="{{ message.tags }} list-group-item"
                        {% endif %}>{{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}