{% extends "index.html" %}

{% block mainContent %}
<main>
    <h1>60-year-old lowers biological age to 35; reveals her anti-ageing mantra</h1>

    <p>
        Worried about ageing faster than usual? You aren't alone. Courtesy a faulty lifestyle,
        many people nowadays may be ageing rapidly than their chronological age. Scary stories
        of youngsters having biological age of 60 and above are all over the web. But there is
        inspiring stuff too. Like the story of a 60-year-old CEO, Tina Woods, who lowered her
        biological age to 35, gives us hope that we too can work on our fitness and reverse our
        age. In an interview with Business Insider India, Woods shares her secret mantra of
        staying young and reversing age.

        Woods said she sticks to basic stuff like 'good nutrition, exercise, good sleep, a
        purpose and joy,' things that she feels worked towards improving her biological age.
    </p>
</main>
{% endblock mainContent %}