body {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.logo {
    width: 40px;
    height: 50px;
}

.grid {
    width: 300px;
    height: 300px;
}

.title {
    font-size: 40px;
}

header {
    background-color: #e2e8e4;
    color: #006c84;
    padding: 10px 5px;
}

.d-flex {
    display: flex;
}

.jc-between {
    justify-content: space-between;
}

.al-center {
    align-items: center;
}

.gap-1 {
    gap: 15px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list .nav-item {
    display: inline;
    margin-inline: 20px;

}

.fs-1 {
    font-size: 5rem;
}

.fs-4 {
    font-size: 1.3rem;
}

.section-a {
    color: #e2e8e4;
    background-color: #006c84;
    padding: 30px;
}

.m-0 {
    margin: 0;
}

.p-3 {
    padding: 30px;
}

.section-b {
    margin-top: 40px;
}

.box {
    border: 1px solid gray;
    width: 250px;
    box-shadow: 2px 2px 10px gray;
    border-radius: 10px;
    padding: 20px;
}


/* to apply background image inside the css file we need to use the relative path. */
.bg-img {
    /*using object-fit and object-position to fit our image into box.*/
    background-image: url("../images/ash-img.jpg");
    /* object-fit: cover; */
    /*Note: object-fit only applied on the img element*/
    /* object-position: center; */
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 250px;
    color: whitesmoke;
}


.notes {
    font-size: 1.5rem;
    line-height: 2rem;
}

.notes-container {}

.notes-content {
    flex: 0.7;
    padding: 20px;
}

.notes-bookmarks {
    background-color: #f0f0f0;
    flex: 0.3;
    padding: 15px;
}


ul.nav-list a {
    text-decoration: none;
    color: inherit;
}

ul.nav-list li.nav-item::after {
    content: "";
    display: block;
    position: relative;
    width: 0%;
    height: 3px;
    background-color: #007584;
    /* transition: width, background-color 0.3s ease-in-out; */
    transition-property: width, background-color;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease-in-out, ease-in-out;
}

ul.nav-list li.nav-item:hover::after {
    width: 100%;
    background-color: #84001d;
}