<aside class="sidebar">
    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <i class="bi bi-box"></i>
            <span>Dashboard</span>
        </li>
        <li class="sidebar-list-item">
            <i class="bi bi-card-list"></i>
            <a href="{% url 'view_tasks' %}"><span>TaskLists</span></a>
        </li>
        <li class="sidebar-list-item">
            <i class="bi bi-person-lines-fill"></i>
            <span>User Profile</span>
        </li>
        <li class="sidebar-list-item">
            <i class="bi bi-info-square"></i>
            <span>About</span>
        </li>
    </ul>
</aside>