<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>

    <h1>Student Registration Form</h1>

    <!-- name, class, section, address, mobile No. -->

    <form action="register" method="POST">
        {% csrf_token %}
        <label for="st-name">Student Name: </label>
        <input id="st-name" type="text" name="name" value=""> <br>

        <label for="st-class">Student Class: </label>
        <input id="st-class" name="class" type="text"> <br>

        <label for="st-section">Student Section: </label>
        <input id="st-section" name="section" type="text"> <br>

        <label for="st-address">Student Address: </label>
        <input id="st-address" name="address" type="text"> <br>

        <label for="st-mobileNo">Student MobileNo: </label>
        <input id="st-mobileNo" name="mobileNo" type="text"> <br>

        <input type="submit">
    </form>

</body>

</html>