<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>HTML Inline Element</title>
</head>

<body>

    <h1>Inline Elements</h1>

    <h4>abbr: Abbreviation html element</h4>
    <p><abbr title="Hyper Text Markup Language">HTML</abbr> is a very light language. It allows us
        to create a meaningful
        content with a well defined structure.</p>


    <h4>b & strong: bold element</h4>
    <p> <b>HTML</b> is a very light language. It allows us
        to create a meaningful
        content with a well defined structure.</p>


    <p> <strong>HTML</strong> is a very light language. It allows us
        to create a meaningful
        content with a well defined structure.</p>


    <h4>i & em: italic and emphasis</h4>
    <p> <i>HTML</i> is a very light language. It allows us
        to create a meaningful
        content with a well defined structure.</p>


    <p> <em>HTML</em> is a very light language. It allows us
        to create a meaningful
        content with a well defined structure.</p>



    <h4>code : code html element</h4>
    <p>
        <code>&lt;html dir="ltr"&gt;</code>
        is a very light language. It allows us
        to create a meaningful
        content with a well defined structure.
    </p>


    <h4>cite : citation html element</h4>
    <p>
        <cite>
            <a href="https://en.wikipedia.org/wiki/HTML">HTML</a>
        </cite>
        is a very light language. It allows us
        to create a meaningful
        content with a well defined structure.
    </p>


</body>

</html>