<!DOCTYPE html>
<html lang="en">
{% include "index_head.html" %}

<body>

    <form action=""
          method="post">
        {% csrf_token %}

        <div class="input_box">
            <label for="username">User Name:</label>
            <input id="username"
                   type="text"
                   placeholder="Enter user name"
                   name="username">
        </div>

        <div class="input_box">
            <label for="password">Password:</label>
            <input id="password"
                   type="password"
                   placeholder="Enter Password"
                   name="password">
        </div>

        <span class="error">{{error}}</span> <br>
        <input type="submit">

    </form>

</body>

</html>