.error {
    color: red;
}

.background-image {
    background-image: url('../images/img1.png');
    color: whitesmoke;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
}

.font-red {
    color: red;
}