{% load static %}

<div class="task-list-container">
    {% for taskList in taskLists %}
    <div class="task-list-card card-theme"
         style="--color:{{color_range|random}}">

        <header class="tasklist-header">
            <div class="d-flex al-center jc-between">
                <h1 class="task-list-title">{{taskList.title}}</h1>
                <form action="{% url 'delete_taskList' taskList.id %}"
                      method="POST">
                    {% csrf_token %}
                    <!-- <input class="task-delete-button"
                           type="submit"
                           value="X"> -->

                    <button type="submit"
                            class="task-delete-button">X</button>

                </form>
            </div>

            <div class="d-flex gap-1">
                <span class="task-list-category badge">{{taskList.category}}</span>
                <span
                      class="task-list-category badge status-{{taskList.status}} ">{{taskList.status}}</span>
                <span
                      class="task-list-category badge priority-{{taskList.priority}}">{{taskList.priority}}</span>
            </div>
        </header>


        <div class="task-actions-body">
            <!-- a form to update task list items -->
            <form action="{% url 'update_taskList_tasks' %}"
                  method="POST"
                  id="update-tasklist-form-{{taskList.id}}">
                {% csrf_token %}
                <input type="text"
                       name="taskListId"
                       value="{{taskList.id}}"
                       hidden>
                <ul id="task-list-{{taskList.id}}"
                    class="task-list">
                    {% for task in taskList.tasks.all %}
                    <li data-id="{{task.id}}"
                        class="task-list-item">

                        <div>
                            <input class="task-list-item-checkbox"
                                   type="checkbox"
                                   name="task-{{task.id}}"
                                   id="task-{{task.id}}"
                                   {% if task.isCompleted %}
                                   checked
                                   {% endif %}>

                            <span class="task-list-item-title">
                                {{task}}
                            </span>
                        </div>

                        <div class="list-item-actions">
                            <a href="{% url 'update_task' task.id %}"> <i
                                   class="bi bi-pencil"></i></a>
                            <a href="{% url 'delete_task' task.id %}"><i class="bi bi-x-lg"></i></a>
                            <button class="delete-task-item"
                                    data-id="{{task.id}}"><i class="bi bi-x-lg"></i></button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>



            </form>

            <!-- a form to update a task into the current task list -->
            <form id="add-update-task"
                  class="d-flex gap-1"
                  action="{% if update.taskListId == taskList.id %}
  {% url 'update_task' update.task.id %}
  {% else %}
  {% url 'add_task' taskList.id %}
  {% endif %}"
                  method="POST">
                {% csrf_token %}
                <input id="{{taskList.id}}"
                       class="add-task-input"
                       type="text"
                       name="text"
                       value="{% if update.taskListId == taskList.id %}{{update.task.text}}{% endif %}">

                <button class="update-tasklist-button"
                        type="submit"
                        form="update-tasklist-form-{{taskList.id}}">
                    <i class="bi bi-floppy2"></i>
                </button>
            </form>

        </div>

    </div>

    {% endfor %}

    <script src="{% static 'js/tasks.js' %}"></script>

    <script>
        const createListItem = (text, taskId) => {

            return `<li class="task-list-item">

                        <div>
                            <input class="task-list-item-checkbox"
                                   type="checkbox"
                                   name="task-${taskId}"
                                   id="task-${taskId}"

                            <span class="task-list-item-title">
                               ${text}
                            </span>
                        </div>

                        <div class="list-item-actions">
                            <a href="update_task/${taskId}"> <i
                                   class="bi bi-pencil"></i></a>
                            <a href="delete_task/${taskId}"><i class="bi bi-x-lg"></i></a>
                        </div>
                    </li>`
        }
    </script>

    <!-- on delete button click -->
    <script>
        const deleteTaskButtons = document.querySelectorAll(".delete-task-item")

        function onClickDelete(e) {
            e.preventDefault();
            const data = {
                "taskId": this.dataset.id
            }
            console.log(data)
            requestDeleteTask(data)
        }

        deleteTaskButtons.forEach(btn => btn.onclick = onClickDelete)
    </script>


    <!-- on add task Input Enter  -->
    <script>
        const inputs = document.getElementsByClassName("add-task-input")

        function onInputEnter(e) {

            if (e.key == "Enter") {
                e.preventDefault()  // preventing form from submitting.
                const data = {
                    text: this.value,
                    taskList: this.id
                };
                console.log(data)
                requestAddTask(data)
                this.value = ''
            }
        }

        for (let i = 0; i < inputs.length; i++) {
            inputs[i].onkeypress = onInputEnter
        }
    </script>


    <!-- on check Item -->
    <script>
        const checkItems = document.querySelectorAll(".task-list-item-checkbox")

        function onCheckItem(e) {

            const data = {
                "update": {
                    "isCompleted": this.checked
                },
                "taskId": this.id.replace("task-", "")
            }

            // sending update request...
            requestUpdateTask(data)
        }


        checkItems.forEach(_input => _input.onchange = onCheckItem)

    </script>

    <script>

        function on_result_add_task(result) {

            if (result) {
                data = result.data
                console.log(data)
                const ul = document.getElementById(`task-list-${data.taskListId}`)

                ul.innerHTML += createListItem(data.text, data.taskId)

            }

        }

        function on_result_delete_task(result) {

            if (result) {

                if (result.status = "success") {
                    const li_selector_string = `li[data-id='${result.data.taskId}']`
                    document.querySelector(li_selector_string).remove()
                }


            }
        }


        function on_result_update_task(result) {

            if (result) {
                if (result.status == "success") {
                    const taskId = result.data.taskId;
                    const taskCheckBox = document.getElementById(`task-${taskId}`)
                    taskCheckBox.checked = result.data.update.isCompleted;
                }
            }
        }

        // Async function to add an item
        async function requestAddTask(data) {
            const csrftoken = document.getElementsByName("csrfmiddlewaretoken")[0].value

            try {
                // Fetch request bhejna http://127.0.0.1:8000/tasks/api/add_task
                const response = await fetch('api/add_task', {
                    method: 'POST', // HTTP method
                    headers: {
                        'Content-Type': 'application/json', // Data ka type
                        'X-CSRFToken': csrftoken // CSRF token
                    },
                    body: JSON.stringify(data) // Data ko JSON format mein convert karna
                });

                // Response ko check karna
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                const result = await response.json(); // Response ko JSON format mein convert karna
                console.log('Success:', result); // Success message

                // if we have result and its data then process the add_task
                on_result_add_task(result);


            } catch (error) {
                console.error('Error:', error); // Error handling
            }
        }


        // Async function to delete an item
        async function requestDeleteTask(data) {
            const csrftoken = getCsrfToken()

            try {
                // Fetch request bhejna http://127.0.0.1:8000/tasks/api/delete_task
                const response = await fetch('api/delete_task', {
                    method: 'POST', // HTTP method
                    headers: {
                        'Content-Type': 'application/json', // Data ka type
                        'X-CSRFToken': csrftoken // CSRF token
                    },
                    body: JSON.stringify(data) // Data ko JSON format mein convert karna
                });

                // Response ko check karna
                if (!response.ok) {
                    throw new Error(`Sever Error: Unable to Delete the task.. `);
                }

                const result = await response.json(); // Response ko JSON format mein convert karna
                console.log('Success:', result); // Success message

                // if we have result and its data then process the add_task
                on_result_delete_task(result);


            } catch (error) {
                console.error('Error:', error); // Error handling
            }
        }


        // Async function to checkItem
        async function requestUpdateTask(data) {
            const csrftoken = getCsrfToken()

            try {
                // Fetch request bhejna http://127.0.0.1:8000/tasks/api/delete_task
                const response = await fetch('api/update_task', {
                    method: 'POST', // HTTP method
                    headers: {
                        'Content-Type': 'application/json', // Data ka type
                        'X-CSRFToken': csrftoken // CSRF token
                    },
                    body: JSON.stringify(data) // Data ko JSON format mein convert karna
                });

                // Response ko check karna
                if (!response.ok) {
                    throw new Error(`Sever Error: Unable to Delete the task.. `);
                }

                const result = await response.json(); // Response ko JSON format mein convert karna
                console.log('Success:', result); // Success message

                // if we have result and its data then process the add_task
                on_result_update_task(result);


            } catch (error) {
                console.error('Error:', error); // Error handling
            }
        }




    </script>
</div>