{% extends "index.html" %}

{% block content %}

<div class="d-flex justify-content-center py-5 ">
    <div class="d-flex col-3 bg-secondary border border-black p-3">
        <form action=""
              method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username"
                       class="text-light">User Name</label>
                <input type="text"
                       class="form-control"
                       id="username"
                       name="username">
            </div>
            <div class="form-group">
                <label for="password"
                       class="text-light">Password</label>
                <input type="password"
                       class="form-control"
                       id="password"
                       name="password">
            </div>
            <button type="submit"
                    class="btn btn-primary">Submit</button>

            <div>
                <a class="small text-light"
                   href="#!">Forgot password?</a>
                <p class="mb-5 pb-lg-2 text-light">Don't have an account?
                    <a href="{% url 'register' %}"
                       class="small text-light">Register here</a>
                </p>
                <a href="#!"
                   class="small text-light">Terms of use.</a>
                <a href="#!"
                   class="small text-light">Privacy policy</a>
            </div>
        </form>
    </div>
</div>

{% endblock content %}