<!-- static footer -->
<footer>
    <div id="section">

        <div class="box">
            <h1>Tricky Position</h1>
            <p>Flexbox usually solves tricy problems including how to Position or dynamically
                resize
                elements on a page.</p>
        </div>

        <div class="box">
            <h1>Responsive Design</h1>
            <p>Flexbox makes building a website layout (and making it responsive) much, much
                easier.
            </p>
        </div>

        <div class="box">
            <h1>Alignment & Space</h1>
            <p>A more efficient way to lay out, align and distribute space among items in a
                container.</p>
        </div>


    </div>
</footer>